<template>
  <div id="RoseChart" style="width: 40vw; height: 600px"></div>
</template>
<script>
import * as echarts from "echarts";
export default {
  data() {
    return {
      RoseChart: null,
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.drawRoseChart();
    });
  },
  methods: {
    drawRoseChart() {
      this.RoseChart = echarts.init(this.$el);
      let option = {
        legend: {
          top: "bottom",
        },
        toolbox: {
          show: true,
          feature: {
            mark: { show: true },
            dataView: { show: true, readOnly: false },
            restore: { show: true },
            saveAsImage: { show: true },
          },
        },
        series: [
          {
            name: "面积模式",
            type: "pie",
            radius: [50, 250],
            center: ["50%", "50%"],
            roseType: "area",
            itemStyle: {
              borderRadius: 8,
            },
            data: [
              { value: 40, name: "rose 1" },
              { value: 38, name: "rose 2" },
              { value: 32, name: "rose 3" },
              { value: 30, name: "rose 4" },
              { value: 28, name: "rose 5" },
              { value: 26, name: "rose 6" },
              { value: 22, name: "rose 7" },
              { value: 18, name: "rose 8" },
            ],
          },
        ],
      };
      this.RoseChart.setOption(option);
      window.addEventListener("resize", () => {
        this.RoseChart.resize();
      });
    },
  },
};
</script>

<style scoped>
* {
  margin: 0 auto;
  list-style: none;
}
</style>