<template>
  <div id="Chart">
    <linegraph
      :id="'bargraph'"
      :data="option1"
      style="width: 600px; height: 350px"
    ></linegraph>
    <linegraph
      :id="'bargraph1'"
      :data="option2"
      style="width: 600px; height: 350px"
    ></linegraph>
  </div>
</template>

<script>
import linegraph from "./otherGraph";
export default {
  data() {
    return {
      option1: {
        title: {
          text: "去年设备产量对比图",
          left: "center",
        },
        xAxis: {
          type: "category",
          data: [
            "检品机1",
            "检品机2",
            "检品机3",
            "检品机4",
            "检品机5",
            "检品机6",
            "检品机7",
          ],
        },
        yAxis: {
          type: "value",
        },
        legend: {
          left: "center",
          data: ["2019年", "2020年"],
          bottom: 0,
        },
        grid: {
          left: "1%",
          right: "2%",
          bottom: "8%",
          containLabel: true,
        },
        series: [
          {
            name: "2019年",
            data: [2000, 100, 150, 90, 70, 110, 2330],
            type: "bar",
            barWidth: 30,
          },
          {
            name: "2020年",
            data: [220, 200, 450, 180, 500, 110, 130],
            type: "bar",
            barWidth: 30,
          },
        ],
      },
      option2: {
        title: {
          text: "全年设备产量对比图",
          left: "center",
        },
        xAxis: {
          type: "category",
          data: [
            "检品机1",
            "检品机2",
            "检品机3",
            "检品机4",
            "检品机5",
            "检品机6",
            "检品机7",
          ],
        },
        yAxis: {
          type: "value",
        },
        legend: {
          left: "center",
          data: ["本年", "上年"],
          bottom: 0,
        },
        grid: {
          left: "1%",
          right: "2%",
          bottom: "8%",
          containLabel: true,
        },
        series: [
          {
            name: "本年",
            data: [1000, 200, 150, 80, 70, 110, 130],
            type: "bar",
            barWidth: 30,
          },
          {
            name: "上年",
            data: [120, 200, 150, 80, 70, 110, 130],
            type: "bar",
            barWidth: 30,
          },
        ],
      },
    };
  },
  components: {
    linegraph,
  },
};
</script>

<style scoped>
* {
  margin: 0 auto;
  list-style: none;
}
</style>