<template>
  <div v-bind:id="id" v-bind:data="data"></div>
</template>
 
<script>
import * as echarts from "echarts";
export default {
  data() {
    return {
      ChartLineGraph: null,
    };
  },
  watch: {
    data: {
      handler(newvalue) {
        this.drawLineGraph(this.id, newvalue);
      },
      deep: true,
    },
  },
  props: {
    id: {
      type: String,
      default: ''
    },
    data: {
      type: Object,
      default: null
    }
  },
  mounted() {
    this.drawLineGraph(this.id, this.data);
  },
  methods: {
    drawLineGraph(id, data) {
      let _this = this;
      this.ChartLineGraph = echarts.init(this.$el);
      this.ChartLineGraph.setOption(data);
      window.addEventListener("resize", function () {
        _this.ChartLineGraph.resize();
      });
    },
  },
  beforeDestroy() {
    if (this.ChartLineGraph) {
      this.ChartLineGraph.clear();
    }
  },
};
</script>
 
<style scoped>
</style>