<template>
  <v-main class="lighten-3 dashboard">
  <v-app-bar app color="grey lighten-3" flat>
    <v-container class="py-0 fill-height">
      <v-toolbar-title>Vue Data Visualization</v-toolbar-title>
    </v-container>
  </v-app-bar>
    <v-container>
      <v-row>
        <v-col cols="3">
          <v-sheet rounded="lg">
            <v-list color="transparent">
              <v-list-item
                v-for="(item, index) in items"
                :key="index"
                :to="item.link"
                link
              >
                <v-list-item-content>
                  <v-list-item-title> {{ item.text }} </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-sheet>
        </v-col>
        <v-col>
          <v-sheet min-height="70vh" rounded="lg">
            <router-view />
          </v-sheet>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</template>

<script>
export default {
  name: "Dashboard",
  data: () => ({
    items: [
      {
        text: "Basic Line Chart",
        link: '/chartOne',
      },
      {
        text: "Stacked Line Chart",
        link: '/chartTwo',
      },
      {
        text: "Rose Diagram",
        link: '/chartThree',
      },
      {
        text: "Comparison Chart",
        link: '/chartFour',
      },
    ],
  }),
};
</script>
<style scoped>
.dashboard{
  background-color:beige;
}
</style>
